<div class="content">
    <h1>{{name}}</h1>
    <form class="single-company-form">
        <p class="bold">Lieu</p>
        {{#locations}}<span>{{city}}, {{postcode}} </span>{{/locations}}
        <p class="bold">Secteur d'activité :</p>
        <span> {{field}}</span>
        <p class="bold">Étudiants CESI déjà pris :</p>
        <span> {{cesi_interns}}</span>
        <p class="bold">Adresse email : </p>
        <span>{{email}}</span>
        <p class="bold">Confiance des tuteurs:</p>
        <span> {{grade}}</span>
        <p class="bold">Note des étudiants </p>
        <span> {{grade}}</span>
    </form>