{{#company}}
<form method="POST">
<label>
    <input type="text" name="name" value="{{name}}" placeholder="Nom de l'entreprise">
</label>
<label>
    <input type="email" name="email" value="{{email}}" placeholder="Email de l'entreprise">
</label>
<label>
    <input type="text" name="cesi_interns" value="{{cesi_interns}}" placeholder="Étudiants CESI déjà pris">
</label>
<label>
    <select name="id_field">
        <option value="{{id_field}}">{{field}}</option>
        {{#existing_fields}}<option value="{{id_field}}">{{name}}</option>{{/existing_fields}}
    </select>
</label>
<label>
    <span><input id="postcode"><select name="id_city" id="cities"></select></span>
    <div id="selected_cities" class="selected-filters">
    {{#locations}}
        <span value="{{id_city}}">{{city}}, {{postcode}}<span class="material-symbols-rounded popup-close"> close <input type="hidden" name="cities[]" value="{{id_city}}"></span></span>
    {{/locations}}
    </div>
</label>
<label>
    <input type="submit" value="Modifier l'offre">
</label>
</form>
{{/company}}