<div class="content">
    <h1>{{name}}</h1>
    <p class="bold">Lieu</p>
    {{#locations}}<p>{{city}}, {{postcode}} </p>{{/locations}}
    <p class="bold">Secteur d'activité : <span> {{field}}</span></p>
    <p class="bold">Étudiants CESI déjà pris :<span> {{cesi_interns}}</span></p>
    <p class="bold">Adresse email : <span>{{email}}</span></p>
    <p class="bold">Confiance des tuteurs: <span> {{grade}}</span></p>
    <p class="bold">Note des étudiants <span> {{grade}}</span></p>
</div>
