<form method="POST">
<label>
    <h1>Evaluez l'entreprise : {{name}}</h1>
</label>
<label>
    <input type="number" name="grade" min="0" max="5" placeholder="Note sur 5">
</label>
<label>
    <textarea name="details" maxlength="800" placeholder="Détails de l'évaluation (max 800 caractères)"></textarea>
</label>
<label>
    <input type="submit" value="Évaluer l'entreprise">
</label>
</form>