{{#company}}
    <form method="POST" class="single-page-form">
        <label>
            <span>Name</span>
            <input type="text" name="name" value="{{name}}" placeholder="Nom de l'entreprise">
        </label>
        <label>
            <span>email</span>
            <input type="email" name="email" value="{{email}}" placeholder="Email de l'entreprise">
        </label>
        <label>
            <span>Nombre d'étudiants déjà pris</span>
            <input type="number" name="cesi_interns" value="{{cesi_interns}}" placeholder="Étudiants CESI déjà pris">
        </label>
        <label>
            <span>Domaine</span>
            <select name="id_field">
                <option value="{{id_field}}">{{field}}</option>
                {{#existing_fields}}
                    <option value="{{id_field}}">{{name}}</option>
                {{/existing_fields}}
            </select>
        </label>
        <label>
            <span>Lien vers le logo</span>
            <input type="text" name="link" value="{{link}}" placeholder="Lien vers l'icône">
        </label>
        <label>
            <span>Adresse</span>
            <input id="postcode" placeholder="00000" pattern="\d{5,5}" type="number">
        </label>
        <label>
            <select name="id_city" id="cities"></select>
            <div id="selected_cities" class="selected-filters">
                {{#locations}}
                    <span value="{{id_city}}">{{city}}, {{postcode}}<span class="material-symbols-rounded popup-close"> close <input
                            type="hidden" name="cities[]" value="{{id_city}}"></span></span>
                {{/locations}}
            </div>
        </label>
        <div class="button-layout">
            <button type="submit">
                <span class="text">Modifier</span>
                <span class="material-symbols-rounded"> send </span>
            </button>
        </div>
    </form>
{{/company}}