<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Nom </th>
        <th> Étudiants CESI pris </th>
        <th> Email </th>
        <th> Secteur </th>
    </tr>
    </thead>
    <tbody>
    {{#company}}
    <tr>
        <td> {{id_company}} </td>
        <td> {{company_name}} </td>
        <td> {{cesi_interns}} </td>
        <td> {{email}} </td>
        <td> {{field_name}} </td>
        <td> <span class="material-symbols-rounded" onclick="window.location.href='dashboard.php?view=company&id={{id_company}}'"> Edit_Note </span> </td>
    </tr>
    {{/company}}
    </tbody>
</table>