<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Nom </th>
        <th> Prénom </th>
        <th> Center </th>
    </tr>
    </thead>
    <tbody>
    {{#person}}
    <tr>
        <td> {{id_tutor}} </td>
        <td> {{first_name}} </td>
        <td> {{last_name}} </td>
        <td> {{center}} </td>
        <td> <span class="material-symbols-rounded" onclick="window.location.href='dashboard.php?view=tutor&id={{id_tutor}}'"> Edit_Note </span> </td>
    </tr>
    {{/person}}
    </tbody>
</table>