<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Prénom </th>
        <th> Nom </th>
        <th> Promo </th>
        <th> Center </th>
    </tr>
    </thead>
    <tbody>
    {{#iteration}}
    <tr>
        <td> {{id_student}} </td>
        <td> {{first_name}} </td>
        <td> {{last_name}} </td>
        <td> {{promotion}} </td>
        <td> {{center}} </td>
        <td>
            <span class="material-symbols-rounded" onclick="window.location.href='dashboard.php?view=student&id={{id_student}}'"> Edit_Note </span>
        </td>
    </tr>
    {{/iteration}}
    </tbody>
</table>
<div class="pagination-button">
    <button onclick="window.location.href='?page={{previous_page}}&view=student'">👈</button><p>{{page}}/{{total_page}}</p><button onclick="window.location.href='?page={{next_page}}&view=student'">👉</button>
</div>