<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Prénom </th>
        <th> Nom </th>
        <th> Promo </th>
        <th> Center </th>
    </tr>
    </thead>
    <tbody>
    {{#iteration}}
    <tr>
        <td> {{id_student}} </td>
        <td> {{first_name}} </td>
        <td> {{last_name}} </td>
        <td> {{promotion}} </td>
        <td> {{center}} </td>
        <td>
            <span class="material-symbols-rounded" onclick="window.location.href= window.location.href+'&id={{id_student}}&modify=1'"> Edit_Note </span>
        </td>
    </tr>
    {{/iteration}}
    </tbody>
</table>
<div class="pagination-button">
    <button class="outlined" onclick="window.location.href='?page={{previous_page}}&view=student'">
    <span class="material-symbols-rounded">chevron_left</span>
    </button>
    <p>{{page}}/{{total_page}}</p>
    <button class="outlined" onclick="window.location.href='?page={{next_page}}&view=student'">
    <span class="material-symbols-rounded">chevron_right</span>
    </button>
</div>