<div class="table-overflow">
    <table>
        <thead>
        <tr>
            <th> ID </th>
            <th> Description </th>
            <th> Date </th>
            <th> Durée </th>
            <th> Salaire </th>
            <th> Entreprise </th>
            <th> Ville </th>
            <th> Code postal </th>
        </tr>
        </thead>
        <tbody>
        {{#iteration}}
            <tr>
                <td> {{id_offer}} </td>
                <td> {{description}} </td>
                <td> {{date}} </td>
                <td> {{duration}} </td>
                <td> {{salary}} </td>
                <td> {{name}} </td>
                <td> {{city}} </td>
                <td> {{postcode}} </td>
                <td> <span class="material-symbols-rounded" onclick="window.location.href='offers.php?id_offer={{id_offer}}&modify=1'"> Edit_Note </span> </td>
            </tr>
        {{/iteration}}
        </tbody>
    </table>
</div>
<div class="pagination-button">
    <button class="outlined" onclick="window.location.href='?page={{previous_page}}&view=internship'">
    <span class="material-symbols-rounded">chevron_left</span>
    </button>
    <p>{{page}}/{{total_page}}</p>
    <button class="outlined" onclick="window.location.href='?page={{next_page}}&view=internship'">
    <span class="material-symbols-rounded">chevron_right</span>
    </button>
</div>