<h1>Statistiques de l'offre</h1>
<span><p>Offre présente dans {{wishlists}} listes de souhaits</p></span>
<h2>Postulations :</h2>
<table>
    <thead>
    <tr>
        <th> ID_Student </th>
        <th> Prénom </th>
        <th> Nom </th>
        <th> Status </th>
    </tr>
    </thead>
    <tbody>
{{#admins}}
    <tr>
        <td> {{id_admin}} </td>
        <td> {{first_name}} </td>
        <td> {{last_name}} </td>
        <td><span class="applystate" value={{id_state}}>{{name}} <button onclick="window.location.href='offers.php?id_offer={{id_offer}}&id_admin={{id_admin}}&validate=1'">✅</button><button onclick="window.location.href='offers.php?id_offer={{id_offer}}&id_admin={{id_admin}}&validate=0'">❌</button></span></td>
    </tr>
{{/admins}}
    </tbdoy>
</table>
<table>
    <thead>
    <tr>
        <th> ID_Admin </th>
        <th> Prénom </th>
        <th> Nom </th>
        <th> Status </th>
    </tr>
    </thead>
    <tbody>
{{#students}}
    <tr>
        <td> {{id_student}} </td>
        <td> {{first_name}} </td>
        <td> {{last_name}} </td>
        <td><span class="applystate" value={{id_state}}>{{name}} <button onclick="window.location.href='offers.php?id_offer={{id_offer}}&id_student={{id_student}}&validate=1'">✅</button><button onclick="window.location.href='offers.php?id_offer={{id_offer}}&id_student={{id_student}}&validate=0'">❌</button></span></td>
    </tr>
{{/students}}
    </tbdoy>
</table>