<h1>{{description}}</h1>
<form class="single-page-form">
    <h3>Détail de l'offre</h3>
    <p class="bold">Lieu :</p>
    <span>{{city}}, {{postcode}}</span>
    <p class="bold">Date de début:</p>
    <span> {{date}}</span>
    <p class="bold">Durée:</p>
    <span> {{duration}} mois</span>
    <p class="bold">Profile recherché:</p>
    {{#concerns}}
    <span> {{name}}</span>
    {{/concerns}}
    <p class="bold">Gratification totale:</p>
    <span> {{salary}}€</span>
    <p class="bold">Places:</p>
    <span> {{places}}</span>
    <h3>Compétences attendues</h3>
    <span>{{#skills}}<span class="single-page-skill">{{name}}</span>{{/skills}}</span>
</form>