<h1>{{description}}</h1>
<div class="postulatedetailsbody">
    <h3>{{name}}</h3>
    <p>{{city}}, {{postcode}}</p>
    <p>Date de début:<span> {{date}}</span></p>
    <p>Durée:<span> {{duration}} mois</span></p>

</div>
<div class="details">
    <h1>Détail de l'offre</h1>
    <p>Profile recherché:{{#concerns}}<span> {{name}}</span>{{/concerns}}</p>
    <p>Gratification totale:<span> {{salary}}€</span></p>
    <p>Places:<span> {{places}}</span></p>
    <p><span>{{description}}</span></p>
</div>
<div class="skills">
    <h1>Compétences attendues</h1>
    <p>{{#skills}}<span>{{name}}</span><br>{{/skills}}</p>
</div>