<form method="POST">
    <h3> Édition d'étudiant </h3>
    <label>
        <span> Prénom </span>
        <input type="text" name="first_name" placeholder="Prénom" value="{{first_name}}" required>
    </label>
    <label>
        <span> Nom </span>
        <input type="text" name="last_name" placeholder="Nom" value="{{last_name}}" required>
    </label>
    <label>
        <span> Mot de passe </span>
        <input type="password" name="password" placeholder="Mot de passe" value="" required>
    </label>
    <label>
        <select name="id_center" required>
            {{#centers}}
                <option value="{{id_center}}">{{name}}</option>
            {{/centers}}
        </select>
    </label>
    <label>
        <select name="id_group" required>
            {{#promotions}}
                <option value="{{id_group}}">{{name}}</option>
            {{/promotions}}
        </select>
    </label>        
    <button>
        <span class="text">Enregistrer</span>
        <span class="material-symbols-rounded"> send </span>
    </button>
</form>
