@import "resources/styles/base";
@import "resources/styles/Navbar";
@import "resources/styles/footer";
@import "resources/styles/landing";

// button variables definition

form {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    background: $color-light;
    box-shadow: 0 0 0.25rem $color-light-grey;
    padding: 2rem;

    img {
        width: 300px;
        margin-bottom: 1.5rem;
    }

    label {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;

        span {
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        [type=text], [type=email], [type=password], [type=number], [type=date], [type=time], [type=tel], [type=url], [type=week], [type=month], [type=search], [type=color], [type=range], [type=datetime-local], [type=checkbox], [type=radio], [type=file], select, textarea {
            padding: 8px;
            border: 1px solid $color-light-grey;
            border-radius: 0.5rem;
            color: $color-main-dark;
            margin-bottom: 0.5rem;
            width: 13rem;

            &:focus {
                outline: none;
                border: 1px solid $color-main;
            }
        }

        [type=checkbox], [type=radio] {
            // à faire
        }
    }

    button {
        margin-top: 16px;
    }
}

// specific styling

#connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: $color-light;
}