// color variables definition
$color-main: #2947A3;
$color-secondary: #9CD336;
$color-dark: #0D1220;
$color-light: #F6F8FE;
$color-warning: #CC0022;
$color-light-grey: #C2C7D6;
$color-dark-grey: #61636B;
$color-card-bg: #E4E8F1;
$color-main-dark: #142452;
$color-secondary-dark: #202E05;

body, * {
    font-family: 'Monsterrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $color-dark;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-light;
}

// font variables definition
h1 {
    font-weight: 900;
    font-size: 2.5rem;
}

h2 {
    font-weight: 900;
    font-size: 2rem;
}

h3 {
    font-weight: 800;
    font-size: 1.5rem;
}

p {
    font-weight: 500;
    font-size: 1rem;
}

a {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    color: $color-main;
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v92/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDJ_vb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOc7TOVpeRL2w5rwZu2rIelXxc.woff2) format('woff2');
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.vertical-align {
    display: flex;
    flex-direction: column;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
}