// color variables definition
$color-main: #2947A3;
$color-secondary: #9CD336;
$color-dark: #0D1220;
$color-light: #F6F8FE;
$color-warning: #CC0022;
$color-light-grey: #C2C7D6;
$color-dark-grey: #61636B;
$color-card-bg: #E4E8F1;
$color-main-dark: #142452;
$color-secondary-dark: #202E05;

$view-height: calc(100vh - 76.5px);

body, * {
    font-family: 'Monsterrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $color-dark;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-light;
}

// font variables definition
h1 {
    background-color: transparent;
    font-weight: 900;
    font-size: 2.5rem;
}

h2 {
    background-color: transparent;
    font-weight: 900;
    font-size: 2rem;

}

h3 {
    background-color: transparent;
    font-weight: 800;
    font-size: 1.5rem;
}

p {
    background-color: transparent;
    font-weight: 500;
    font-size: 1rem;
}

a {
    background-color: transparent;
    display: block;
    font-weight: 500;
    font-size: 1rem;
    color: $color-main;
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.material-symbols-rounded {
    font-variation-settings:
            'FILL' 1,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48;
    background-color: transparent;
    font-family: 'Material Symbols Rounded', serif ;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.vertical-align {
    display: flex;
    flex-direction: column;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 4rem;
    padding: 0.5rem 2rem;
    transition: all 0.1s ease;
    background: $color-main;
    color: $color-light;
    box-shadow: 0 0.125rem $color-secondary;
    .text{
        color: $color-light;
        display: flex;
        font-weight: 600;
        font-size: 1.25rem;
        background-color: transparent;
        align-items: center;
        padding-right: 0.25rem;
    }
    .material-symbols-rounded{
        font-size: 24px;
        color: $color-light;
    }
    &:hover {
        background: $color-main-dark;
        box-shadow: 0 0.25rem $color-secondary;
        transform: translateY(-0.25rem);
    }

    &:active {
        background: $color-main;
        box-shadow: none;
        transform: none;
    }

    &:disabled {
        background: $color-light-grey;
        color: $color-dark-grey;
        cursor: not-allowed;
        box-shadow: 0 0;
        transform: none;
    }

    &.outlined {
        background: $color-light;
        color: $color-main-dark;
        box-shadow: none;
        border : 1px solid $color-main-dark;
        .text{
            color: $color-main-dark;
            display: flex;
            font-weight: 600;
            font-size: 1.25rem;
            background-color: transparent;
            align-items: center;
        }
        .material-symbols-rounded{
            color: $color-main-dark;
        }
        &:hover {
            transform: translate(-0.125rem, -0.125rem);
            box-shadow: 0.125rem 0.125rem 0 $color-main-dark;
        }
        &:active {
            box-shadow: none;
            transform: none;
        }
        &:disabled {

        }
    }
    &.sort{
        border-radius: 4rem;
        background: transparent;
        box-shadow: none;
        padding: 0.5rem;
        .text{
            color: $color-dark;
            background-color: transparent;
            align-items: center;
            margin-left: 0.5rem;
        }
        .material-symbols-rounded{
                color: $color-dark;
            margin-right: 0.5rem;
        }
        &:hover {
            transform: none;
            background: radial-gradient( $color-light-grey , $color-light 70%);
        }
        &:active {
            box-shadow: none;
            transform: none;
        }
        &:disabled {

        }
    }
}

label {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    align-items: flex-start;
    justify-content: center;
    span{
        font-weight: 600;
    }
    [type=text], [type=email], [type=password], [type=number], [type=date], [type=time], [type=tel], [type=url], [type=week], [type=month], [type=search], [type=color], [type=range], [type=datetime-local], [type=checkbox], [type=radio], [type=file], select, textarea {
        padding: 0.5rem;
        border: 1px solid $color-light-grey;
        border-radius: 0.5rem;
        color: $color-main-dark;
        margin-bottom: 0.5rem;
        width: 13rem;

        &:focus {
            outline: none;
            border: 1px solid $color-main;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    background: $color-light;
    box-shadow: 0 0 0.25rem $color-light-grey;
    padding: 2rem;
}

.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    form{
        position: fixed;
        top: calc(100vh/6);
        left: calc(100vw/6);
        width: 100%;
        max-width: calc(200vw/3);
        height: 100%;
        max-height: calc(200vh/3);
        overflow: auto;
        align-items: center;
        justify-content: flex-start;
    }
    .close{
        background: transparent;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem;
        cursor: pointer;
        font-size: 1.5rem;
        color: $color-main-dark;
        &:hover{
            color: $color-main;
        }
    }
}

.warning{
    color: $color-warning;
    font-weight: 600;
}

.content{
    width: 100%;
    min-height: $view-height;
}

.selected-filters{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    span{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        padding: 0 0.5rem;
        border-radius: 0.25rem;
        background: $color-main;
        color: $color-light;
        :hover{
            background: $color-warning;
        }
        span{
            color: $color-light;
            font-size: 1rem;
            width: 1rem;
            background: transparent;
        }
    }
    :hover{
        background: $color-warning;
    }
}

.title-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    h1 {
        margin: 4rem;
    }

    .filter {
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        button{
            margin: 1rem;
        }
    }
}

.content-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid $color-main-dark;
    table{
        thead{
            tr{
                th{
                    font-weight: 600;
                }
            }
        }
        tbody{
            tr{
                td{
                    border-collapse: collapse;
                    border: 1px solid $color-main-dark;
                    padding: 0.5rem;
                    span{
                        font-size: 1rem;
                        color: $color-main-dark;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}