@import "base";

.card{
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
    width: 500px;
    background-color: $color-card-bg;
    img {
        height: 80px;
        background-color: $color-card-bg;
    }
    .offer-info {
        width: 100%;
        background-color: $color-card-bg;
        margin-left: 2rem;
        .description{
            margin-top: 1rem;
            background-color: transparent;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-row: auto;
            grid-column-gap: 20px;
            p{
                font-weight: 600;
            }
        }
        .submit{
            background-color: transparent;
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 1rem;
        }
        span{
            font-weight: 500;
            font-size: 1rem;
            background-color: transparent;
        }
    }
}

#cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}