@import "base.scss";
@import "navbar.scss";
@import "footer.scss";

.bold{
    font-weight: 700;
}

.single-company-form {
    margin: 4rem;
    padding: 2rem;
    align-items: flex-start;
    span{
        margin-bottom: 1rem;
    }
}