@import "base.scss";
@import "navbar.scss";
@import "footer.scss";

.member-name-info{
    #info{
        margin: 4rem;
        background: $color-light-grey;
        padding: 2rem;
        border-radius: 1rem;
        color: $color-dark;
    }
}