@import "base.scss";
@import "navbar.scss";
@import "footer.scss";

.member-name-info{
    #info{
        margin: 4rem;
        background: $color-light-grey;
        padding: 2rem;
        border-radius: 1rem;
        color: $color-dark;
    }
}

.member-fav{
    background-color: $color-light-grey;
    margin: 0 4rem 4rem 4rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h3{
        width: 100%;
    }
   form{
       flex-direction: row;
       flex-wrap: wrap;
       margin: 1rem;
       flex-direction: row;
       width: fit-content;
       height: fit-content;
       p{
           margin:0.5rem;
       }
   }
}