@import "base";

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $color-light;
    padding: 1rem;

    img {
        height: 100%;
    }

    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: $color-main;
        text-decoration: none;
        padding: 0 1rem;
        height: 44.5px;
        transition: all 0.2s ease;
        border-radius: 4rem;
        p {
            background-color: transparent;
            font-weight: 800;
        }
    }

    #nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        a{
            &:hover {
                background: $color-light-grey;
            }
        }
    }
}


@media (max-width: 850px) {
    #nav-bar {
        img {
            display: none;
        }

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        #nav-links {
            a {
                padding: 0.5rem;
            }
        }
    }
}