@import "base";

.title-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    h1 {
        margin: 4rem;
    }
    .filter{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.offers{
    background: $color-light-grey;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}