body, * {
  font-family: "Monsterrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0D1220;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F6F8FE;
}

h1 {
  background-color: transparent;
  font-weight: 900;
  font-size: 2.5rem;
}

h2 {
  background-color: transparent;
  font-weight: 900;
  font-size: 2rem;
}

h3 {
  background-color: transparent;
  font-weight: 800;
  font-size: 1.5rem;
}

p {
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
}

a {
  background-color: transparent;
  display: block;
  font-weight: 500;
  font-size: 1rem;
  color: #2947A3;
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
  background-color: transparent;
  font-family: "Material Symbols Rounded", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.vertical-align {
  display: flex;
  flex-direction: column;
}

.horizontal-align {
  display: flex;
  flex-direction: row;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 4rem;
  padding: 0.5rem 2rem;
  transition: all 0.1s ease;
  background: #2947A3;
  color: #F6F8FE;
  box-shadow: 0 0.125rem #9CD336;
}
button .text {
  color: #F6F8FE;
  display: flex;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: transparent;
  align-items: center;
  padding-right: 0.25rem;
}
button .material-symbols-rounded {
  font-size: 24px;
  color: #F6F8FE;
}
button:hover {
  background: #142452;
  box-shadow: 0 0.25rem #9CD336;
  transform: translateY(-0.25rem);
}
button:active {
  background: #2947A3;
  box-shadow: none;
  transform: none;
}
button:disabled {
  background: #C2C7D6;
  color: #61636B;
  cursor: not-allowed;
  box-shadow: 0 0;
  transform: none;
}
button.outlined {
  background: #F6F8FE;
  color: #142452;
  box-shadow: none;
  border: 1px solid #142452;
}
button.outlined .text {
  color: #142452;
  display: flex;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: transparent;
  align-items: center;
}
button.outlined .material-symbols-rounded {
  color: #142452;
}
button.outlined:hover {
  transform: translate(-0.125rem, -0.125rem);
  box-shadow: 0.125rem 0.125rem 0 #142452;
}
button.outlined:active {
  box-shadow: none;
  transform: none;
}
button.sort {
  border-radius: 4rem;
  background: transparent;
  box-shadow: none;
  padding: 0.5rem;
}
button.sort .text {
  color: #0D1220;
  background-color: transparent;
  align-items: center;
  margin-left: 0.5rem;
}
button.sort .material-symbols-rounded {
  color: #0D1220;
  margin-right: 0.5rem;
}
button.sort:hover {
  transform: none;
  background: radial-gradient(#C2C7D6, #F6F8FE 70%);
}
button.sort:active {
  box-shadow: none;
  transform: none;
}
label {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: flex-start;
  justify-content: center;
}
label span {
  font-weight: 600;
}
label [type=text], label [type=email], label [type=password], label [type=number], label [type=date], label [type=time], label [type=tel], label [type=url], label [type=week], label [type=month], label [type=search], label [type=color], label [type=range], label [type=datetime-local], label [type=checkbox], label [type=radio], label [type=file], label select, label textarea {
  padding: 0.5rem;
  border: 1px solid #C2C7D6;
  border-radius: 0.5rem;
  color: #142452;
  margin-bottom: 0.5rem;
  width: 13rem;
}
label [type=text]:focus, label [type=email]:focus, label [type=password]:focus, label [type=number]:focus, label [type=date]:focus, label [type=time]:focus, label [type=tel]:focus, label [type=url]:focus, label [type=week]:focus, label [type=month]:focus, label [type=search]:focus, label [type=color]:focus, label [type=range]:focus, label [type=datetime-local]:focus, label [type=checkbox]:focus, label [type=radio]:focus, label [type=file]:focus, label select:focus, label textarea:focus {
  outline: none;
  border: 1px solid #2947A3;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  background: #F6F8FE;
  box-shadow: 0 0 0.25rem #C2C7D6;
  padding: 2rem;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.popup form {
  position: fixed;
  top: 16.6666666667vh;
  left: 16.6666666667vw;
  width: 100%;
  max-width: 66.6666666667vw;
  height: 100%;
  max-height: 66.6666666667vh;
  overflow: auto;
  align-items: center;
  justify-content: flex-start;
}
.popup .close {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #142452;
}
.popup .close:hover {
  color: #2947A3;
}

.warning {
  color: #CC0022;
  font-weight: 600;
}

.content {
  width: 100%;
  min-height: calc(100vh - 76.5px);
}

.selected-filters {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.selected-filters span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  background: #2947A3;
  color: #F6F8FE;
}
.selected-filters span :hover {
  background: #CC0022;
}
.selected-filters span span {
  color: #F6F8FE;
  font-size: 1rem;
  width: 1rem;
  background: transparent;
}
.selected-filters :hover {
  background: #CC0022;
}

.title-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.title-filter h1 {
  margin: 4rem;
}
.title-filter .filter {
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title-filter .filter button {
  margin: 1rem;
}

.content-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #142452;
}
.content-layout table thead tr th {
  font-weight: 600;
}
.content-layout table tbody tr td {
  border-collapse: collapse;
  border: 1px solid #142452;
  padding: 0.5rem;
}
.content-layout table tbody tr td span {
  font-size: 1rem;
  color: #142452;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 35rem;
  min-width: 16rem;
  width: 100%;
  margin: 1rem;
  max-height: 16rem;
  height: 16rem;
}
.card img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.card .offer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  line-height: 100%;
}
.card .offer-info .header-info {
  display: flex;
  flex-direction: row;
}
.card .offer-info .header-info span {
  font-size: 16px;
}
.card .offer-info .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.card .offer-info .description span {
  font-weight: 600;
}
.card .offer-info .submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 850px) {
  .card img {
    display: none;
  }
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.card-header .favorite {
  display: none;
}
.card-header input[type=checkbox]:checked + label span {
  font-variation-settings: "FILL" 1;
  color: #2947A3;
}
.card-header h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.card-header label span {
  cursor: pointer;
  color: #142452;
  font-variation-settings: "FILL" 0;
  font-size: 2rem;
}

body, * {
  font-family: "Monsterrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0D1220;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F6F8FE;
}

h1 {
  background-color: transparent;
  font-weight: 900;
  font-size: 2.5rem;
}

h2 {
  background-color: transparent;
  font-weight: 900;
  font-size: 2rem;
}

h3 {
  background-color: transparent;
  font-weight: 800;
  font-size: 1.5rem;
}

p {
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
}

a {
  background-color: transparent;
  display: block;
  font-weight: 500;
  font-size: 1rem;
  color: #2947A3;
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
  background-color: transparent;
  font-family: "Material Symbols Rounded", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.vertical-align {
  display: flex;
  flex-direction: column;
}

.horizontal-align {
  display: flex;
  flex-direction: row;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 4rem;
  padding: 0.5rem 2rem;
  transition: all 0.1s ease;
  background: #2947A3;
  color: #F6F8FE;
  box-shadow: 0 0.125rem #9CD336;
}
button .text {
  color: #F6F8FE;
  display: flex;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: transparent;
  align-items: center;
  padding-right: 0.25rem;
}
button .material-symbols-rounded {
  font-size: 24px;
  color: #F6F8FE;
}
button:hover {
  background: #142452;
  box-shadow: 0 0.25rem #9CD336;
  transform: translateY(-0.25rem);
}
button:active {
  background: #2947A3;
  box-shadow: none;
  transform: none;
}
button:disabled {
  background: #C2C7D6;
  color: #61636B;
  cursor: not-allowed;
  box-shadow: 0 0;
  transform: none;
}
button.outlined {
  background: #F6F8FE;
  color: #142452;
  box-shadow: none;
  border: 1px solid #142452;
}
button.outlined .text {
  color: #142452;
  display: flex;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: transparent;
  align-items: center;
}
button.outlined .material-symbols-rounded {
  color: #142452;
}
button.outlined:hover {
  transform: translate(-0.125rem, -0.125rem);
  box-shadow: 0.125rem 0.125rem 0 #142452;
}
button.outlined:active {
  box-shadow: none;
  transform: none;
}
button.sort {
  border-radius: 4rem;
  background: transparent;
  box-shadow: none;
  padding: 0.5rem;
}
button.sort .text {
  color: #0D1220;
  background-color: transparent;
  align-items: center;
  margin-left: 0.5rem;
}
button.sort .material-symbols-rounded {
  color: #0D1220;
  margin-right: 0.5rem;
}
button.sort:hover {
  transform: none;
  background: radial-gradient(#C2C7D6, #F6F8FE 70%);
}
button.sort:active {
  box-shadow: none;
  transform: none;
}
label {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: flex-start;
  justify-content: center;
}
label span {
  font-weight: 600;
}
label [type=text], label [type=email], label [type=password], label [type=number], label [type=date], label [type=time], label [type=tel], label [type=url], label [type=week], label [type=month], label [type=search], label [type=color], label [type=range], label [type=datetime-local], label [type=checkbox], label [type=radio], label [type=file], label select, label textarea {
  padding: 0.5rem;
  border: 1px solid #C2C7D6;
  border-radius: 0.5rem;
  color: #142452;
  margin-bottom: 0.5rem;
  width: 13rem;
}
label [type=text]:focus, label [type=email]:focus, label [type=password]:focus, label [type=number]:focus, label [type=date]:focus, label [type=time]:focus, label [type=tel]:focus, label [type=url]:focus, label [type=week]:focus, label [type=month]:focus, label [type=search]:focus, label [type=color]:focus, label [type=range]:focus, label [type=datetime-local]:focus, label [type=checkbox]:focus, label [type=radio]:focus, label [type=file]:focus, label select:focus, label textarea:focus {
  outline: none;
  border: 1px solid #2947A3;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  background: #F6F8FE;
  box-shadow: 0 0 0.25rem #C2C7D6;
  padding: 2rem;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.popup form {
  position: fixed;
  top: 16.6666666667vh;
  left: 16.6666666667vw;
  width: 100%;
  max-width: 66.6666666667vw;
  height: 100%;
  max-height: 66.6666666667vh;
  overflow: auto;
  align-items: center;
  justify-content: flex-start;
}
.popup .close {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #142452;
}
.popup .close:hover {
  color: #2947A3;
}

.warning {
  color: #CC0022;
  font-weight: 600;
}

.content {
  width: 100%;
  min-height: calc(100vh - 76.5px);
}

.selected-filters {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.selected-filters span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  background: #2947A3;
  color: #F6F8FE;
}
.selected-filters span :hover {
  background: #CC0022;
}
.selected-filters span span {
  color: #F6F8FE;
  font-size: 1rem;
  width: 1rem;
  background: transparent;
}
.selected-filters :hover {
  background: #CC0022;
}

.title-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.title-filter h1 {
  margin: 4rem;
}
.title-filter .filter {
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title-filter .filter button {
  margin: 1rem;
}

.content-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #142452;
}
.content-layout table thead tr th {
  font-weight: 600;
}
.content-layout table tbody tr td {
  border-collapse: collapse;
  border: 1px solid #142452;
  padding: 0.5rem;
}
.content-layout table tbody tr td span {
  font-size: 1rem;
  color: #142452;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 35rem;
  min-width: 16rem;
  width: 100%;
  margin: 1rem;
  max-height: 16rem;
  height: 16rem;
}
.card img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.card .offer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  line-height: 100%;
}
.card .offer-info .header-info {
  display: flex;
  flex-direction: row;
}
.card .offer-info .header-info span {
  font-size: 16px;
}
.card .offer-info .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.card .offer-info .description span {
  font-weight: 600;
}
.card .offer-info .submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 850px) {
  .card img {
    display: none;
  }
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.card-header .favorite {
  display: none;
}
.card-header input[type=checkbox]:checked + label span {
  font-variation-settings: "FILL" 1;
  color: #2947A3;
}
.card-header h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.card-header label span {
  cursor: pointer;
  color: #142452;
  font-variation-settings: "FILL" 0;
  font-size: 2rem;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #F6F8FE;
  padding: 1rem;
}
#nav-bar img {
  height: 100%;
}
#nav-bar a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #2947A3;
  text-decoration: none;
  padding: 0 1rem;
  height: 44.5px;
  transition: all 0.2s ease;
  border-radius: 4rem;
}
#nav-bar a p {
  background-color: transparent;
  font-weight: 800;
}
#nav-bar #nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#nav-bar #nav-links a:hover {
  background: #C2C7D6;
}

@media (max-width: 700px) {
  #nav-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #nav-bar #logo {
    display: none;
  }
  #nav-bar #nav-links a {
    padding: 0.5rem;
  }
}
body, * {
  font-family: "Monsterrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0D1220;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F6F8FE;
}

h1 {
  background-color: transparent;
  font-weight: 900;
  font-size: 2.5rem;
}

h2 {
  background-color: transparent;
  font-weight: 900;
  font-size: 2rem;
}

h3 {
  background-color: transparent;
  font-weight: 800;
  font-size: 1.5rem;
}

p {
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
}

a {
  background-color: transparent;
  display: block;
  font-weight: 500;
  font-size: 1rem;
  color: #2947A3;
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
  background-color: transparent;
  font-family: "Material Symbols Rounded", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.vertical-align {
  display: flex;
  flex-direction: column;
}

.horizontal-align {
  display: flex;
  flex-direction: row;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 4rem;
  padding: 0.5rem 2rem;
  transition: all 0.1s ease;
  background: #2947A3;
  color: #F6F8FE;
  box-shadow: 0 0.125rem #9CD336;
}
button .text {
  color: #F6F8FE;
  display: flex;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: transparent;
  align-items: center;
  padding-right: 0.25rem;
}
button .material-symbols-rounded {
  font-size: 24px;
  color: #F6F8FE;
}
button:hover {
  background: #142452;
  box-shadow: 0 0.25rem #9CD336;
  transform: translateY(-0.25rem);
}
button:active {
  background: #2947A3;
  box-shadow: none;
  transform: none;
}
button:disabled {
  background: #C2C7D6;
  color: #61636B;
  cursor: not-allowed;
  box-shadow: 0 0;
  transform: none;
}
button.outlined {
  background: #F6F8FE;
  color: #142452;
  box-shadow: none;
  border: 1px solid #142452;
}
button.outlined .text {
  color: #142452;
  display: flex;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: transparent;
  align-items: center;
}
button.outlined .material-symbols-rounded {
  color: #142452;
}
button.outlined:hover {
  transform: translate(-0.125rem, -0.125rem);
  box-shadow: 0.125rem 0.125rem 0 #142452;
}
button.outlined:active {
  box-shadow: none;
  transform: none;
}
button.sort {
  border-radius: 4rem;
  background: transparent;
  box-shadow: none;
  padding: 0.5rem;
}
button.sort .text {
  color: #0D1220;
  background-color: transparent;
  align-items: center;
  margin-left: 0.5rem;
}
button.sort .material-symbols-rounded {
  color: #0D1220;
  margin-right: 0.5rem;
}
button.sort:hover {
  transform: none;
  background: radial-gradient(#C2C7D6, #F6F8FE 70%);
}
button.sort:active {
  box-shadow: none;
  transform: none;
}
label {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: flex-start;
  justify-content: center;
}
label span {
  font-weight: 600;
}
label [type=text], label [type=email], label [type=password], label [type=number], label [type=date], label [type=time], label [type=tel], label [type=url], label [type=week], label [type=month], label [type=search], label [type=color], label [type=range], label [type=datetime-local], label [type=checkbox], label [type=radio], label [type=file], label select, label textarea {
  padding: 0.5rem;
  border: 1px solid #C2C7D6;
  border-radius: 0.5rem;
  color: #142452;
  margin-bottom: 0.5rem;
  width: 13rem;
}
label [type=text]:focus, label [type=email]:focus, label [type=password]:focus, label [type=number]:focus, label [type=date]:focus, label [type=time]:focus, label [type=tel]:focus, label [type=url]:focus, label [type=week]:focus, label [type=month]:focus, label [type=search]:focus, label [type=color]:focus, label [type=range]:focus, label [type=datetime-local]:focus, label [type=checkbox]:focus, label [type=radio]:focus, label [type=file]:focus, label select:focus, label textarea:focus {
  outline: none;
  border: 1px solid #2947A3;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  background: #F6F8FE;
  box-shadow: 0 0 0.25rem #C2C7D6;
  padding: 2rem;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.popup form {
  position: fixed;
  top: 16.6666666667vh;
  left: 16.6666666667vw;
  width: 100%;
  max-width: 66.6666666667vw;
  height: 100%;
  max-height: 66.6666666667vh;
  overflow: auto;
  align-items: center;
  justify-content: flex-start;
}
.popup .close {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #142452;
}
.popup .close:hover {
  color: #2947A3;
}

.warning {
  color: #CC0022;
  font-weight: 600;
}

.content {
  width: 100%;
  min-height: calc(100vh - 76.5px);
}

.selected-filters {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.selected-filters span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  background: #2947A3;
  color: #F6F8FE;
}
.selected-filters span :hover {
  background: #CC0022;
}
.selected-filters span span {
  color: #F6F8FE;
  font-size: 1rem;
  width: 1rem;
  background: transparent;
}
.selected-filters :hover {
  background: #CC0022;
}

.title-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.title-filter h1 {
  margin: 4rem;
}
.title-filter .filter {
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title-filter .filter button {
  margin: 1rem;
}

.content-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #142452;
}
.content-layout table thead tr th {
  font-weight: 600;
}
.content-layout table tbody tr td {
  border-collapse: collapse;
  border: 1px solid #142452;
  padding: 0.5rem;
}
.content-layout table tbody tr td span {
  font-size: 1rem;
  color: #142452;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 35rem;
  min-width: 16rem;
  width: 100%;
  margin: 1rem;
  max-height: 16rem;
  height: 16rem;
}
.card img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.card .offer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  line-height: 100%;
}
.card .offer-info .header-info {
  display: flex;
  flex-direction: row;
}
.card .offer-info .header-info span {
  font-size: 16px;
}
.card .offer-info .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.card .offer-info .description span {
  font-weight: 600;
}
.card .offer-info .submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 850px) {
  .card img {
    display: none;
  }
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.card-header .favorite {
  display: none;
}
.card-header input[type=checkbox]:checked + label span {
  font-variation-settings: "FILL" 1;
  color: #2947A3;
}
.card-header h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.card-header label span {
  cursor: pointer;
  color: #142452;
  font-variation-settings: "FILL" 0;
  font-size: 2rem;
}

footer {
  display: flex;
  background: #0D1220;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer img {
  width: 300px;
  background-color: #0D1220;
  padding: 2rem;
}
footer .horizontal-align {
  background-color: #0D1220;
  height: 100%;
}
footer .horizontal-align * {
  background-color: #0D1220;
}
footer .horizontal-align #navigation {
  flex-wrap: wrap;
  background-color: #0D1220;
  justify-content: center;
  width: 100%;
}
footer .horizontal-align #navigation a {
  color: #F6F8FE;
  text-decoration: none;
  width: 9rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
footer .horizontal-align #navigation p {
  color: #C2C7D6;
  font-weight: 600;
  font-size: 1.25rem;
  width: 100%;
}
footer .horizontal-align #navigation .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 20rem;
  height: 100%;
  padding: 1rem;
}
footer #copyright {
  background-color: #C2C7D6;
  width: 100%;
}
footer #copyright p {
  padding: 0.25rem;
  background-color: #C2C7D6;
}

@media (max-width: 850px) {
  footer .horizontal-align {
    flex-direction: column;
  }
}
.postulatebody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.postulatebody form {
  align-items: center;
}
.postulatebody form .horizontal-align {
  flex-wrap: wrap;
  align-items: center;
}
.postulatebody form .horizontal-align label {
  margin: 0 1rem;
}
.postulatebody form .horizontal-align button {
  margin: 1rem;
}

.postulatedetailsbody, .details, .skills {
  width: 80%;
  border-radius: 12px;
  flex-direction: row;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 3px;
  margin: 1rem;
  background-color: #E4E8F1;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=postulate.css.map */