@import "base.scss";
@import "navbar.scss";
@import "footer.scss";

.showcompanybody {
  background-color:$color-dark-grey;
  margin: 2rem;
  width: 80%;
  border-radius: 1rem;
}

.showdetailsbody {
  padding: 2rem;

}