@import "base.scss";
@import "navbar.scss";
@import "footer.scss";


.showcompanybody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  form{
    align-items: center;
    .horizontal-align {
      flex-wrap: wrap;
      align-items: center;
      label{
        margin: 0 1rem;
      }
      button{
        margin: 1rem;
      }
    }
  }
}


.showdetailsbody, .details, .header-info{
  margin: 5rem;
  width: 80%;
  border-radius: 12px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 3px;
  width: 80%;
  margin: 1rem;
  background-color: $color-card-bg;
  justify-content: center;
  align-items: center;
}
// @media (max-width: 850px) {
//   img {
//       display: none;
//   }
// }